<form class="ikrpg sheet actor sheet-ikrpg" autocomplete="off">
    <div class="sheet-container">

        <header class="sheet-header card">
            <div class="info-block">
                <input name="name" type="text" value="{{actor.name}}" placeholder='{{t "IKRPG.Sheet.Placeholder.Name"}}' class="character-name" />
                <!--                <h2>{{t "IKRPG.Sheet.Header.Information"}}</h2>-->
                <div class="flexrow">
                    <div><label>{{t "IKRPG.Sheet.Labels.Player"}}:<input type="text" name="system.player" value="{{system.player}}" /></label>
                    </div>
                    <div><label>{{t "IKRPG.Sheet.Labels.Archetype"}}:<input type="text" name="system.archetype" value="{{system.archetype}}" /></label>
                    </div>
                    <div><label>{{t "IKRPG.Sheet.Labels.Race"}}:<input type="text" name="system.race" value="{{system.race}}" /></label></div>
                    <div><label>{{t "IKRPG.Sheet.Labels.Careers"}}:<input type="text" name="system.careers" value="{{system.careers}}" /></label>
                    </div>
                </div>
                <div class="flexrow">
                    <div><label>{{t "IKRPG.Sheet.Labels.Height"}}:<input type="text" name="system.height" value="{{system.height}}" /></label></div>
                    <div><label>{{t "IKRPG.Sheet.Labels.Weight"}}:<input type="text" name="system.weight" value="{{system.weight}}" /></label></div>
                    <div><label>{{t "IKRPG.Sheet.Labels.Gender"}}:<input type="text" name="system.sex" value="{{system.sex}}" /></label></div>
                    <div><label>{{t "IKRPG.Sheet.Labels.Faith"}}:<input type="text" name="system.faith" value="{{system.faith}}" /></label></div>
                </div>
            </div>

            <div class="flexrow header-flex">
                <img class="img-profile" id="img-profile" src="{{actor.img}}" data-edit="img" alt="character portrait" />

                <div class="stats-group">
                    <!-- Row 1: HP e Max HP -->
                    <div class="hp-row hp-control-frame">
                        <!-- HP controls -->
                        <div class="editable-group">
                            <button type="button" class="hp-minus control-button">–</button>
                            <label>
                                {{t "IKRPG.Sheet.Labels.HP"}}
                                <input type="number" name="system.hp.value" value="{{system.hp.value}}" class="small-field" />
                            </label>
                            <button type="button" class="hp-plus control-button">+</button>
                        </div>
                        <!-- Max HP -->
                        <div class="hp-max">
                            <label>
                                {{t "IKRPG.Sheet.Labels.Max"}}
                                <input type="number" name="system.hp.max" value="{{system.hp.max}}" disabled class="small-field" />
                            </label>
                        </div>
                    </div>

                    {{#if system.fatigue.enabled}}
                    <div class="fatigue-row fatigue-control-frame">
                        <div class="editable-group">
                            <button type="button" class="fatigue-minus control-button">-</button>
                            <label>
                                {{t "IKRPG.Sheet.Labels.Fatigue"}}
                                <input id="system.fatigue.value" name="system.fatigue.value" type="number" value="{{system.fatigue.value}}" min="0" class="small-field" />
                            </label>
                            <button type="button" class="fatigue-plus control-button">+</button>
                        </div>
                        <div class="fatigue-max">
                            <label>
                                {{t "IKRPG.Sheet.Labels.Max"}}
                                <input id="system.fatigue.max" name="system.fatigue.max" type="number" value="{{system.fatigue.max}}" min="0" disabled class="small-field" />
                            </label>
                        </div>
                    </div>
                    {{/if}}
                    {{#if system.focus.enabled}}
                    <div class="focus-row focus-control-frame">
                        <div class="editable-group">
                            <button type="button" class="focus-minus control-button">-</button>
                            <label>
                                {{t "IKRPG.Sheet.Labels.Focus"}}
                                <input id="system.focus.value" name="system.focus.value" type="number" value="{{system.focus.value}}" min="0" class="small-field" />
                            </label>
                            <button type="button" class="focus-plus control-button">+</button>
                        </div>
                        <div class="focus-max">
                            <label>
                                {{t "IKRPG.Sheet.Labels.Max"}}
                                <input id="system.focus.max" name="system.focus.max" type="number" value="{{system.focus.max}}" min="0" disabled class="small-field" />
                            </label>
                        </div>
                    </div>
                    {{/if}}
                </div>
                <label for="system.fatigue.enabled">
                    <input id="system.fatigue.enabled" type="checkbox" name="system.fatigue.enabled" {{checked system.fatigue.enabled}} />
                    {{t "IKRPG.Sheet.Labels.Weaver"}}
                </label>
                <label for="system.focus.enabled">
                    <input id="system.focus.enabled" type="checkbox" name="system.focus.enabled" {{checked system.focus.enabled}} />
                    {{t "IKRPG.Sheet.Labels.Focuser"}}
                </label>
            </div>
        </header>

        <nav aria-label="inventory-menu" class="sheet-item-tabs tabs" data-group="inventory">
            <a class="nav-item" data-tab="weapons">{{t "IKRPG.Sheet.Tab.Weapons"}}</a>
            <a class="nav-item" data-tab="equipment">{{t "IKRPG.Sheet.Tab.Equipment"}}</a>
            <a class="nav-item" data-tab="spells">{{t "IKRPG.Sheet.Tab.Spells"}}</a>

        </nav>
        <section class="sheet-items tabbed-area card">
            <div class="tab" data-group="inventory" data-tab="weapons">
                <table class="item-table">
                    <thead>
                        <tr>
                            <th class="col-name">{{t "IKRPG.Table.Header.Name"}}</th>
                            <th>{{t "IKRPG.Table.Header.Skill"}}</th>
                            <th>{{t "IKRPG.Table.Header.Tags"}}</th>
                            <th class="col-pow">{{t "IKRPG.Table.Header.POW"}}</th>
                            <th class="col-mod">{{t "IKRPG.Table.Header.Mod"}}</th>
                            <th class="col-item-info">🔎</th>
                            <th class="col-item-roll">🎲</th>
                            <th class="col-manage">⚙️</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each items as |item|}}
                        {{#if (eq item.type "meleeWeapon")}}
                        <tr class="item text-center" data-item-id="{{item._id}}">
                            <td>{{item.name}}</td>
                            <td>{{item.system.skill}}</td>
                            <td>
                                <div class="tags-container">
                                    {{#each item.system.tags}}
                                    <span class="tag">{{this}}</span>
                                    {{/each}}
                                </div>
                            </td>
                            <td>{{item.system.pow}}</td>
                            <td>{{item.system.attackMod}}</td>
                            <td>
                                <button class="item-info info-button">🔎</button>
                            </td>
                            <td>
                                <button class="item-roll dice-button">🎲</button>
                            </td>
                            <td class="action-buttons">
                                <div class="button-group">
                                    <button class="item-edit edit-button">✎</button>
                                    <button class="item-delete trash-button">🗑️</button>
                                </div>
                            </td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </tbody>
                </table>
                <div class="add-item">
                    <button class="item-create" data-type="meleeWeapon" title='{{t "IKRPG.Button.Add.MeleeWeapon"}}'>➕🗡️
                    </button>
                </div>


                <table class="item-table">
                    <thead>
                        <tr>
                            <th class="col-name">{{t "IKRPG.Table.Header.Name"}}</th>
                            <th>{{t "IKRPG.Table.Header.Skill"}}</th>
                            <th>{{t "IKRPG.Table.Header.Tags"}}</th>
                            <th>{{t "IKRPG.Table.Header.Range"}}</th>
                            <th class="col-pow">{{t "IKRPG.Table.Header.POW"}}</th>
                            <th class="col-item-info">🔎</th>
                            <th class="col-item-roll">🎲</th>
                            <th class="col-manage">⚙️</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each items as |item|}}
                        {{#if (eq item.type "rangedWeapon")}}
                        <tr class="item text-center" data-item-id="{{item._id}}">
                            <td>{{item.name}}</td>
                            <td>{{item.system.skill}}</td>
                            <td class="text-center">
                                {{#each item.system.tags}}
                                <span class="tag">{{this}}</span>
                                {{/each}}
                            </td>
                            <td>{{item.system.effectiveRange}}</td>
                            <td>{{item.system.pow}}</td>
                            <td>
                                <button class="item-info info-button">🔎</button>
                            </td>
                            <td>
                                <button class="item-roll dice-button">🎲</button>
                            </td>
                            <td class="action-buttons">
                                <div class="button-group">
                                    <button class="item-edit edit-button">✎</button>
                                    <button class="item-delete trash-button">🗑️</button>
                                </div>
                            </td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </tbody>
                </table>
                <div class="add-item">
                    <button class="item-create" data-type="rangedWeapon" title='{{t "IKRPG.Button.Add.RangedWeapon"}}'>➕🏹
                    </button>
                </div>

            </div>
            <div class="tab" data-group="inventory" data-tab="equipment">
                <table class="item-table">
                    <thead>
                        <tr>
                            <th class="col-name">{{t "IKRPG.Table.Header.Name"}}</th>
                            <th>{{t "IKRPG.Table.Header.Equipped"}}</th>
                            <th>{{t "IKRPG.Table.Header.ARM"}}</th>
                            <th>{{t "IKRPG.Table.Header.DEF"}}</th>
                            <th>{{t "IKRPG.Table.Header.SPD"}}</th>
                            <th class="col-item-info">🔎</th>
                            <th class="col-manage">⚙️</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each items as |item|}}
                        {{#if (eq item.type "armor")}}
                        <tr class="item text-center" data-item-id="{{item._id}}">
                            <td>{{item.name}}</td>
                            <td>
                                {{#if item.system.isEquipped}}
                                ✔️
                                {{else}}
                                ⚪
                                {{/if}}
                            </td>
                            <td>{{item.system.armorBonus}}</td>
                            <td>{{item.system.defPenalty}}</td>
                            <td>{{item.system.spdPenalty}}</td>
                            <td>
                                <button class="item-info info-button">🔎</button>
                            </td>
                            <td class="action-buttons">
                                <div class="button-group">
                                    <button class="item-edit edit-button">✎</button>
                                    <button class="item-delete trash-button">🗑️</button>
                                </div>
                            </td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </tbody>
                </table>
                <div class="add-item">
                    <button class="item-create" data-type="armor" title='{{t "IKRPG.Button.Add.Armor"}}'>➕🛡️
                    </button>
                </div>
                <table class="item-table">
                    <thead>
                        <tr>
                            <th class="col-name">{{t "IKRPG.Table.Header.Name"}}</th>
                            <th class="col-item-info">🔎</th>
                            <th class="col-manage">⚙️</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each items as |item|}}
                        {{#if (eq item.type "equipment")}}
                        <tr class="item" data-item-id="{{item._id}}">
                            <td>{{item.name}}</td>
                            <td>
                                <button class="item-info info-button">🔎</button>
                            </td>
                            <td class="action-buttons">
                                <div class="button-group">
                                    <button class="item-edit edit-button">✎</button>
                                    <button class="item-delete trash-button">🗑️</button>
                                </div>
                            </td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </tbody>
                </table>
                <div class="add-item">
                    <button class="item-create" data-type="equipment" title='{{t "IKRPG.Button.Add.Equipment"}}'>➕📦
                    </button>
                </div>

            </div>
            <div class="tab" data-group="inventory" data-tab="spells">
                <section data-tab="spells">
                    <table class="item-table">
                        <thead>
                            <tr>
                                <th>{{t "IKRPG.Table.Header.Name"}}</th>
                                <th>{{t "IKRPG.Table.Header.Cost"}}</th>
                                <th>{{t "IKRPG.Table.Header.Range"}}</th>
                                <th>{{t "IKRPG.Table.Header.POW"}}</th>
                                <th>{{t "IKRPG.Table.Header.Upkeep"}}</th>
                                <th>{{t "IKRPG.Table.Header.Offensive"}}</th>
                                <th>{{t "IKRPG.Table.Header.AoE"}}</th>
                                <th class="col-item-info">🔎</th>
                                <th>🎲</th>
                                <th>⚙️</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each items as |item|}}
                            {{#if (eq item.type "spell")}}
                            <tr class="item text-center" data-item-id="{{item._id}}">
                                <td>{{item.name}}</td>
                                <td>{{item.system.cost}}</td>
                                <td>{{item.system.rng}}</td>
                                <td>{{item.system.pow}}</td>
                                <td>{{#if item.system.upkeep}}✔️{{/if}}</td>
                                <td>{{#if item.system.offensive}}✔️{{/if}}</td>
                                <td>{{item.system.AOE}}</td>
                                <td>
                                    <button class="item-info info-button">🔎</button>
                                </td>
                                <td>
                                    <button class="spell-roll dice-button">🎲</button>
                                </td>
                                <td class="action-buttons">
                                    <div class="button-group">
                                        <button class="item-edit edit-button">✎</button>
                                        <button class="item-delete trash-button">🗑️</button>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}
                            {{/each}}
                        </tbody>
                    </table>
                    <div class="add-item">
                        <button class="item-create" data-type="spell" title='{{t "IKRPG.Button.Add.Spell"}}'>➕✨</button>
                    </div>
                </section>
            </div>
        </section>

        <nav aria-label="primary-menu" class="sheet-primary-tabs tabs" data-group="primary">
            <a class="nav-item" data-tab="attributes">{{t "IKRPG.Sheet.Tab.Attributes"}}</a>
            <a class="nav-item" data-tab="occupationalSkills">{{t "IKRPG.Sheet.Tab.Skills"}}</a>
        </nav>
        <section class="sheet-body tabbed-area card">
            <div class="attribute-section">

                <div class="tab" data-group="primary" data-tab="attributes">
                    <div class="flexrow">

                        <div class="attribute-block">
                            <h3>{{t "IKRPG.Sheet.Attributes.Main"}}</h3>
                            <div class="grid-2cols">
                                {{#each system.mainAttributes as |value key|}}
                                <div class="attribute">
                                    <label for="main-{{key}}" class="roll-attr" data-attr="{{key}}">{{key}}</label>
                                    <input type="number" id="main-{{key}}" name="system.mainAttributes.{{key}}" value="{{value}}" />
                                </div>
                                {{/each}}
                            </div>
                        </div>

                        <div class="attribute-block">
                            <h3>{{t "IKRPG.Sheet.Attributes.Secondary"}}</h3>
                            <div class="grid-2cols">
                                {{#each system.secondaryAttributes as |value key|}}
                                <div class="attribute">
                                    <label for="secondary-{{key}}" class="roll-attr" data-attr="{{key}}">{{key}}</label>
                                    <input id="secondary-{{key}}" type="number" name="system.secondaryAttributes.{{key}}" value="{{value}}" />
                                </div>
                                {{/each}}
                            </div>
                        </div>

                        <div class="attribute-block">
                            <h3>{{t "IKRPG.Sheet.Attributes.Derived"}}</h3>
                            <div class="grid-2cols">
                                {{#each system.derivedAttributes as |value key|}}
                                <div class="attribute">
                                    <label for="derived-{{key}}" class="roll-attr" data-attr="{{key}}">{{key}}</label>
                                    <input id="derived-{{key}}" type="number" name="system.derivedAttributes.{{key}}" value="{{value}}" disabled />
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="additional-fields">
                            <div class="additional-field">
                                <label for="system.featPoints" class="big-label">{{t "IKRPG.Sheet.Label.FeatPoints"}}:</label>
                                <input type="number" name="system.featPoints" value="{{system.featPoints}}" min="0" class="big-input" />
                            </div>
                            <div class="additional-field">
                                <label for="system.gold" class="big-label">{{t "IKRPG.Sheet.Label.Gold"}}:</label>
                                <input type="number" name="system.gold" value="{{system.gold}}" min="0" class="big-input" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab" data-group="primary" data-tab="occupationalSkills">
                    <div class="skills-controls">
                        <button type="button" class="toggle-zero-skills">{{t "IKRPG.Table.Header.ShowSkills"}}</button>
                    </div>
                    <div class="skills-wrapper">

                        <table class="skills-table">
                            <thead>
                                <tr>
                                    <th class="col-name">{{t "IKRPG.Table.Header.Name"}}</th>
                                    <th class="col-attr">{{t "IKRPG.Table.Header.Attribute"}}</th>
                                    <th class="col-lvl">{{t "IKRPG.Table.Header.Level"}}</th>
                                    <th class="col-skill-roll">🎲</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each system.occupationalSkills}}
                                <tr class="skill-row {{#if (eq this.level 0)}}skill-zero{{/if}}" data-level="{{this.level}}">
                                    <td>
                                        {{this.name}}
                                        <input type="hidden" name="system.occupationalSkills.{{@index}}.name" value="{{this.name}}" />
                                    </td>

                                    <td>
                                        <select name="system.occupationalSkills.{{@index}}.attr" class="skill-select">
                                            <option value="SOC" {{#if (eq "SOC" this.attr)}}selected{{/if}}>--</option>

                                            {{#each ../system.mainAttributes as |val attrKey|}}
                                            <option value="{{attrKey}}" {{#if (eq attrKey .. /this.attr)}}selected{{/if}}>{{attrKey}}</option>
                                            {{/each}}

                                            {{#each ../system.secondaryAttributes as |val attrKey|}}
                                            <option value="{{attrKey}}" {{#if (eq attrKey .. /this.attr)}}selected{{/if}}>{{attrKey}}</option>
                                            {{/each}}
                                        </select>
                                    </td>

                                    <td class="text-center">
                                        <input type="number" name="system.occupationalSkills.{{@index}}.level" value="{{this.level}}" min="0" />
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="roll-skill dice-button" data-idx="{{@index}}">🎲
                                        </button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <table class="skills-table">
                            <thead>
                                <tr>
                                    <th class="col-name">{{t "IKRPG.Table.Header.Name"}}</th>
                                    <th class="col-attr">{{t "IKRPG.Table.Header.Attribute"}}</th>
                                    <th class="col-lvl">{{t "IKRPG.Table.Header.Level"}}</th>
                                    <th class="col-skill-roll">🎲</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each system.militarySkills}}
                                <tr class="skill-row {{#if (eq this.level 0)}}skill-zero{{/if}}" data-level="{{this.level}}">
                                    <td>
                                        {{this.name}}
                                        <input type="hidden" name="system.militarySkills.{{@index}}.name" value="{{this.name}}" />
                                    </td>
                                    <td>
                                        <select name="system.militarySkills.{{@index}}.attr" class="skill-select">
                                            {{#each ../system.mainAttributes as |val attrKey|}}
                                            <option value="{{attrKey}}" {{#if (eq attrKey .. /this.attr)}}selected{{/if}}>{{attrKey}}</option>
                                            {{/each}}
                                            {{#each ../system.secondaryAttributes as |val attrKey|}}
                                            <option value="{{attrKey}}" {{#if (eq attrKey .. /this.attr)}}selected{{/if}}>{{attrKey}}</option>
                                            {{/each}}
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <input type="number" name="system.militarySkills.{{@index}}.level" value="{{this.level}}" min="0" />
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="roll-military-skill dice-button" data-idx="{{@index}}">
                                            🎲
                                        </button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <label>{{t "IKRPG.Flag.Icon"}}</label>
</form>
