<form class="ikrpg sheet actor steamjack-sheet" autocomplete="off">
    <div class="sheet-container">



        <div class="flexrow header-flex card">
            <img class="img-profile" id="img-profile" src="{{actor.img}}" data-edit="img" alt="steamjack portrait"/>

                <div class="chassis-radial">
                    <div class="hp-bar">
                        <label class="editable-group">
                            <button type="button" class="hp-minus control-button">-</button>
                            <label class="hp-label v-align">
                                {{t "IKRPG.Sheet.Labels.HP"}}
                                <input type="number" name="system.hp.value" value="{{system.hp.value}}"/>
                            </label>
                            <button type="button" class="hp-plus control-button">+</button>
                        </label>
                        <label class="hp-label v-align">
                            {{t "IKRPG.Sheet.Labels.Max"}}
                            <input type="number" name="system.hp.max" value="{{system.hp.max}}"/>
                        </label>
                    </div>
                    <div class="chassis-radial">
                        <label>
                            <strong>{{t "IKRPG.Sheet.Labels.ChassisType"}}:</strong><br/>
                            <label><input type="radio" name="system.chassisSize" value="light" {{#if (eq
                                          system.chassisSize
                                "light")}}checked{{/if}}> {{t "IKRPG.Sheet.Labels.Light"}}
                            </label>
                            <label><input type="radio" name="system.chassisSize" value="heavy" {{#if (eq
                                          system.chassisSize
                                "heavy")}}checked{{/if}}> {{t "IKRPG.Sheet.Labels.Heavy"}}</label>
                        </label>
                    </div>
                </div>

                <div class="info-block">
                    <label>
                        <input name="name" type="text" value="{{actor.name}}" placeholder='{{t "IKRPG.Sheet.Labels.Steamjack"}}' class="character-name"/>
                    </label>
                    <div>
                        <div class="info-attribute"><label>{{t "IKRPG.Sheet.Labels.Chassis"}}:<input type="text" name="system.chassis" value="{{system.chassis}}"/></label></div>
                        <div class="info-attribute">
                            <label>{{t "IKRPG.Sheet.Labels.Cortex"}}:<input type="text" name="system.cortex" value="{{system.cortex}}"/></label>
                            <label>{{t "IKRPG.Sheet.Labels.Imprint"}}:<input type="text" name="system.imprint" value="{{system.imprint}}"/></label>
                        </div>
                        <div class="info-attribute">
                            <label>{{t "IKRPG.Sheet.Labels.Height"}}:<input type="text" name="system.height" value="{{system.height}}"/></label>
                            <label>{{t "IKRPG.Sheet.Labels.Weight"}}:<input type="text" name="system.weight" value="{{system.weight}}"/></label>
                        </div>
                    </div>
                </div>
        </div>
        <div class="tab card">
            <table class="item-table">
                <thead>
                <tr>
                    <th class="col-name">{{t "IKRPG.Table.Header.Name"}}</th>
                    <th>{{t "IKRPG.Table.Header.Skill"}}</th>
                    <th>{{t "IKRPG.Table.Header.Tags"}}</th>
                    <th class="col-pow">{{t "IKRPG.Table.Header.POW"}}</th>
                    <th class="col-mod">{{t "IKRPG.Table.Header.Mod"}}</th>
                    <th class="col-item-info">🔎</th>
                    <th class="col-item-roll">🎲</th>
                    <th class="col-manage">⚙️</th>
                </tr>
                </thead>
                <tbody>
                {{#each items as |item|}}
                {{#if (eq item.type "meleeWeapon")}}
                <tr class="item text-center" data-item-id="{{item._id}}">
                    <td>{{item.name}}</td>
                    <td>{{item.system.skill}}</td>
                    <td>
                        <div class="tags-container">
                            {{#each item.system.tags}}
                            <span class="tag">{{this}}</span>
                            {{/each}}
                        </div>
                    </td>
                    <td>{{item.system.pow}}</td>
                    <td>{{item.system.attackMod}}</td>
                    <td>
                        <button class="item-info info-button">🔎</button>
                    </td>
                    <td>
                        <button class="item-roll dice-button">🎲</button>
                    </td>
                    <td class="action-buttons">
                        <div class="button-group">
                            <button class="item-edit edit-button">✎</button>
                            <button class="item-delete trash-button">🗑️</button>
                        </div>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
                </tbody>
            </table>
            <div class="add-item">
                <button class="item-create" data-type="meleeWeapon" title='{{t "IKRPG.Button.Add.MeleeWeapon"}}'>➕🗡️
                </button>
            </div>

            <table class="item-table">
                <thead>
                <tr>
                    <th class="col-name">{{t "IKRPG.Table.Header.Name"}}</th>
                    <th>{{t "IKRPG.Table.Header.Skill"}}</th>
                    <th>{{t "IKRPG.Table.Header.Tags"}}</th>
                    <th>{{t "IKRPG.Table.Header.Range"}}</th>
                    <th class="col-pow">{{t "IKRPG.Table.Header.POW"}}</th>
                    <th class="col-item-info">🔎</th>
                    <th class="col-item-roll">🎲</th>
                    <th class="col-manage">⚙️</th>
                </tr>
                </thead>
                <tbody>
                {{#each items as |item|}}
                {{#if (eq item.type "rangedWeapon")}}
                <tr class="item text-center" data-item-id="{{item._id}}">
                    <td>{{item.name}}</td>
                    <td>{{item.system.skill}}</td>
                    <td class="text-center">
                        {{#each item.system.tags}}
                        <span class="tag">{{this}}</span>
                        {{/each}}
                    </td>
                    <td>{{item.system.effectiveRange}}</td>
                    <td>{{item.system.pow}}</td>
                    <td>
                        <button class="item-info info-button">🔎</button>
                    </td>
                    <td>
                        <button class="item-roll dice-button">🎲</button>
                    </td>
                    <td class="action-buttons">
                        <div class="button-group">
                            <button class="item-edit edit-button">✎</button>
                            <button class="item-delete trash-button">🗑️</button>
                        </div>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
                </tbody>
            </table>
            <div class="add-item">
                <button class="item-create" data-type="rangedWeapon" title='{{t "IKRPG.Button.Add.RangedWeapon"}}'>➕🏹
                </button>
            </div>

            <table class="item-table">
                <thead>
                <tr>
                    <th class="col-name">{{t "IKRPG.Table.Header.Name"}}</th>
                    <th>{{t "IKRPG.Table.Header.Equipped"}}</th>
                    <th>{{t "IKRPG.Table.Header.ARM"}}</th>
                    <th>{{t "IKRPG.Table.Header.DEF"}}</th>
                    <th>{{t "IKRPG.Table.Header.SPD"}}</th>
                    <th class="col-item-info">🔎</th>
                    <th class="col-manage">⚙️</th>
                </tr>
                </thead>
                <tbody>
                {{#each items as |item|}}
                {{#if (eq item.type "armor")}}
                <tr class="item text-center" data-item-id="{{item._id}}">
                    <td>{{item.name}}</td>
                    <td>
                        {{#if item.system.isEquipped}}
                        ✔️
                        {{else}}
                        ⚪
                        {{/if}}
                    </td>
                    <td>{{item.system.armorBonus}}</td>
                    <td>{{item.system.defPenalty}}</td>
                    <td>{{item.system.spdPenalty}}</td>
                    <td>
                        <button class="item-info info-button">🔎</button>
                    </td>
                    <td class="action-buttons">
                        <div class="button-group">
                            <button class="item-edit edit-button">✎</button>
                            <button class="item-delete trash-button">🗑️</button>
                        </div>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
                </tbody>
            </table>
            <div class="add-item">
                <button class="item-create" data-type="armor" title='{{t "IKRPG.Button.Add.Armor"}}'>➕🛡️
                </button>
            </div>
        </div>

        <!-- Atributos -->

        <section class="sheet-body tabbed-area card">
            <div class="attribute-section">

                <div class="flexrow">

                    <div class="attribute-block">
                        <h3>{{t "IKRPG.Sheet.Attributes.Main"}}</h3>
                        <div class="grid-2cols">
                            {{#each system.mainAttributes as |value key|}}
                            <div class="attribute">
                                <label class="roll-attr" data-attr="{{key}}">{{key}}</label>
                                <input type="number" id="main-{{key}}" name="system.mainAttributes.{{key}}"
                                       value="{{value}}"/>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="attribute-block">
                        <h3>{{t "IKRPG.Sheet.Attributes.Secondary"}}</h3>
                        <div class="grid-2cols">
                            {{#each system.secondaryAttributes as |value key|}}
                            <div class="attribute">
                                <label class="roll-attr" data-attr="{{key}}">{{key}}</label>
                                <input type="number" name="system.secondaryAttributes.{{key}}"
                                       value="{{value}}"/>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="attribute-block">
                        <h3>{{t "IKRPG.Sheet.Attributes.Derived"}}</h3>
                        <div class="grid-2cols">
                            {{#each system.derivedAttributes as |value key|}}
                            <div class="attribute">
                                <label class="roll-attr" data-attr="{{key}}">{{key}}</label>
                                    <input type="number" name="system.derivedAttributes.{{key}}" value="{{value}}"/>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</form>
